@import 'variables';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-x: hidden;
  overflow-y:hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  font-size: 2rem;
}

.wrapper {
  width: 1920px;
  height: 1080px;
  display: contents;
}

.background {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: absolute;
  z-index: -2;
}

.button {
  position: absolute;
  z-index: 5;
  //top: 46%;
  height: 8%;
  width: 4%;
  min-width: 6rem;
  min-height: 7rem;
  cursor: pointer;
  border: none;
  background-color: inherit;
  padding: 0;
}

.button__right {
  top: 46%;
  right: 2%;
  background: url("./assets/svg/rightarrowangleoutline_112583.svg") no-repeat;
}

.button__left {
  top: 46%;
  left: 2%;
  background: url("./assets/svg/leftarrowangleoutline_112587.svg") no-repeat;
}

.button__up {
  top: 1%;
  left: 46%;
  background: url("./assets/svg/leftarrowangleoutline_112587.svg") no-repeat;
  transform: rotate(90deg);
}

.button__down {
  bottom: 1%;
  left: 46%;
  background: url("./assets/svg/rightarrowangleoutline_112583.svg") no-repeat;
  transform: rotate(90deg);
}

@keyframes move-to-down {
  from {top: 0px;}
  to {top: 100%;}
}

.transition-to-down {
  animation-name: move-to-down;
  animation-duration: 3s;
}

@keyframes move-to-up {
  from {top: 0px;}
  to {top: -100%;}
}

.transition-to-up {
  animation-name: move-to-up;
  animation-duration: 3s;
}

@keyframes move-from-down {
  from {top: 100%;}
  to {top: 0;}
}

.transition-from-down {
  animation-name: move-from-down;
  animation-duration: 3s;
}

@keyframes move-from-up {
  from {top: -100%;}
  to {top: 0px;}
}

.transition-from-up {
  animation-name: move-from-up;
  animation-duration: 3s;
}

@keyframes move-to-right {
  from {left: 0px;}
  to {left: 100%;}
}

.transition-to-right {
  animation-name: move-to-right;
  animation-duration: 3s;
}

@keyframes move-to-left {
  from {left: 0px;}
  to {left: -100%;}
}

.transition-to-left {
  animation-name: move-to-left;
  animation-duration: 3s;
}

@keyframes move-from-right {
  from {left: 100%;}
  to {left: 0;}
}

.transition-from-right {
  animation-name: move-from-right;
  animation-duration: 3s;
}

@keyframes move-from-left {
  from {left: -100%;}
  to {left: 0px;}
}

.transition-from-left {
  animation-name: move-from-left;
  animation-duration: 3s;
}