.gallery {
  display: flex;
  align-items: center;
}

.images-container {
  background: $color-block-background_strong;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  gap: 1rem;
  max-width: 34rem;
  margin: 2rem;
}

.images-container__item {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  background: $color-block-background_strong;
  object-fit: cover;
  &_empty {
    background: $color-block-background_light;
    font-size: 5rem;
    color: $color-text;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

input[type=file] {
  display: none;
}

.basket {
  background: url("./assets/svg/basket.svg") no-repeat;
  background-size: 100%;
  cursor: pointer;
}