$color-background_layout: #8b91a1;
$color-background_main: #6e7ca1;
$color-text: #242528;
$color-border: #f67e70;
$color-button: #376e6f;
$color-button_hover: #1c3334;
$color-error-text: #f50606;
$color-success-text: #259725;
$color-button-text_disabled: #7f7e7e;
$color-button_background: rgba(0, 0, 0, 0.7);
$color-block-background: rgba(0, 0, 0, 0.3);
$engine-button-background: #f5ded0;